<div class="d-flex flex-center flex-column-auto p-10">
    <!--begin::Links-->
    <div class="d-flex align-items-center fw-bold fs-6">
        <a href="{{ path('about') }}" class="text-muted text-hover-primary px-2">A propos</a>
        <a href="mailto:support@iutfolio.fr" class="text-muted text-hover-primary px-2">Support</a>
    </div>
    <!--end::Links-->
</div>
